@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

html {
  height: 100%;
  background-color: #111b21;
  color: #e9edef;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}
